body {
    margin: 0;
    padding: 0;
    font-family: Verdana;
	background-color: #5C5E66 ;
}
a {
    text-decoration: none;
}
#image {
    display: block;
    margin: auto auto;
    width: 100%;
    transform: rotate(180deg);
}

.valueBox {
	background: transparent;
    border: none;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

.sensorBox {
	text-align: center;
	background-color: #999CAA;
	color: white;
	border: 5px solid #ff0000;
}

.rollOverlay {
    position: absolute;
    color: white;
}

.center-panel{
    display: inline;
    position: relative;
}

.grid-container > div {
  padding: 10px 10px 0px 10px;
}

.side-panel > .card {
  margin-bottom: 10px;
  overflow: hidden;
}
.grid-container {
  display: grid;
  grid-template-columns: 200px auto 200px;
  height: 100%;
}

.side-panel{
  width=250px;
}
