body {
    margin: 0;
    padding: 0;
    font-family: Verdana;
	background-color: #5C5E66 ;
}
a {
    text-decoration: none;
}
img {
    width: 100%;
    height: auto;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}
main{
    width: 700px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.sensorBox {
	text-align: center;
	background-color: #999CAA;
	color: white;
	border: 5px solid #ff0000;
}